@import url(//fonts.googleapis.com/css?family=Noto+Sans|Hind);

* { border: 0; margin: 0; outline: none; padding: 0; }


html, body {
	background-image: url("rescources/background.jpg");
	background-repeat: repeat-y;
	background-size: 100% 100%;
	min-height: 165px;
	min-width: 400px;
	height: 100%;
	width: 100%;
}

h1, h2, h3 {
	color: #FFF;
	font-family: "Hind";
	line-height: 1em;
}
p, a, li {
	color: #FFF;
	font-family: "Noto Sans";
	line-height: 1.3em;
}

.deselect {
	cursor:default;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	unselectable=on;
	onselectstart=return false;
	onmousedown=return false;
}
.hide {
	opacity: 0;
	visibility: hidden;
}


/* Navigation */
nav {
	margin: 15px 0 0 15px;
	position: absolute;
	z-index: 99;
}
	nav ul {
		list-style-type: none;
	}
	nav ul li {
		margin-bottom: 2px;

		transition: opacity .2s;
	}
	nav ul li.disabled {
		opacity: 0.4;
		pointer-events: none;
	}
	nav svg {
		cursor: pointer;
		height: 40px;
		width: 40px;
	}
	nav svg circle { transition: opacity .2s; }
	nav svg path { transition: fill .2s; }
	nav svg:hover circle { opacity: 0; }
	nav svg:hover path { fill: #FFF; }

/* Intro */
#intro {
	left: 50%;
	height: 200px;
	position: absolute;
	top: calc(50% - 100px);
	width: 400px;
	z-index: 100;

	transition: all .2s;
}
	#intro h1 {
		font-size: 48px;
		color: #FFF;
	}
	#intro p {
		font-size: 14px;
		margin: 10px 0 10px 0;
	}
	#intro input[type="text"] {
		border-radius: 4px;
		font-family: "Noto Sans";
		margin: 10px 0 0 0;
		padding: 3px 5px;
		width: 295px;
	}
	#intro input[type="text"].error {
		color: #FF0033;
	}
	#intro input[type="submit"] {
		background-color: #FFF;
		border: 1px solid #FFF;
		border-radius: 4px;
		cursor: pointer;
		font-family: "Noto Sans";
		margin: 2px;
		padding: 2px;
		width: 80px;
	}
	#intro input[type="submit"]:hover {
		background-color: transparent;
		color: #FFF;
	}

/* User interface, Planets */
#planets {
	height: 100%;
	min-height: 165px;
	min-width: 350px;
	overflow: hidden;
	position: absolute;
	width: 100%;

	transition: opacity .2s;
}
	#planets div {
		height: 100%;
		position: absolute;
		width: 100%;

		transition: all 1s;
	}
	#planets .image {
		position: relative;
		width: 50%;
	}
	#planets .image img {
		position: relative;
		pointer-events: none;
		top: 50%;

		transform: translate(-50%, -50%);
	}
		#planets img.star { left: calc(100% - 700px); }
		#planets img.big { left: calc(100% - 600px); }
		#planets img.medium { left: calc(100% - 400px); }
		#planets img.small { left: 50%; }
	#planets .planet-info {
		display: inline-block;
		left: 55%;
		height: 60px;
		top: calc(50% - 30px);

		transition: opacity .5s;
	}
	#planets .planet-info h2 {
		font-size: 44px;
		height: 40px;
	}
	#planets .planet-info p {
		font-size: 20px;
		height: 20px;
	}

	/* previous, current, next */
	.prev { top: -100%; opacity: 0; }
	.current { top: 0px; opacity: 1; }
	.next { top: 100%; opacity: 0; }

/* User interface, Menu */
#menu {
	background-color: #FFF;
	height: 100%;
	margin: 0 auto 0 auto;
	max-width: 590px;
	min-width: 230px;
	overflow: auto;
	padding: 0 60px;
	width: calc(100% - 120px);

	transition: opacity .2s;
}
	#menu h1, #menu h3, #menu p, #menu a {
		color: #000;
		text-decoration: none;
	}
.main-tile {
	display: block;
	padding: 40px 0 20px;
	width: 100%;
}
	.main-tile h1, .main-tile h3 {
		text-align: center;
		width: 100%;
	}
	.main-tile p {
		padding: 10px 0 20px 0;
	}
	.main-tile a {
		opacity: .6;
	}
	.main-tile a:hover {
		opacity: 1;
	}
	#share {
		width: 260px;
		margin: 10px auto 0 auto;
	}
	#share div {
		cursor: pointer;
		display: inline-block;
		margin: 0 10px 0 0;
		opacity: .6;
	}
	#share div img {
		height: 13px;
		width: 13px;
	}
	#share div:hover {
		opacity: 1;
	}
.tile {
	border-top: 1px solid #444;
	cursor: pointer;
	display: block;
	height: 30px;
	opacity: .8;
	padding: 3px 10px 0 10px;
	position: relative;
	width: 96%;

	transition: opacity .1s;
}
	.tile:hover {
		opacity: 1;
	}
	.tile img {
		padding: 0 9px;
	}
	.tile p {
		display: inline-block;
		font-size: 22px;
		padding: 0 0 0 5px;
		position: absolute;
	}

/* Small screen customization */
@media all and (max-width: 1050px) {
	#intro { left: calc(50% - 200px); }
	#earth.intro-hide { opacity: 0; visibility: hidden; }
}
@media all and (max-width: 400px) {
	#intro { left: 0; }
}