@import url(http://fonts.googleapis.com/css?family=Noto+Sans|Hind);

* { border: 0; margin: 0; outline: none; padding: 0; }


html, body {
	background-image: url("rescources/background.jpg");
	background-repeat: repeat-y;
	background-size: 100% 100%;

	height: 100%;
	min-height: 520px;
	min-width: 1100px;
	width: 100%;
}


/* Miscellaneous */
.deselect {
	cursor:default;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	unselectable=on;
	onselectstart=return false;
	onmousedown=return false;
}

/* Text */
h1, h2 {
	color: #FFF;
	font-family: "Hind";
	line-height: 1em;
}
p {
	color: #FFF;
	font-family: "Noto Sans";
	line-height: 1em;
}

/* Intro */
#intro {
	left: 50%;
	height: 200px;
	position: absolute;
	top: calc(50% - 100px);
	width: 400px;
	z-index: 100;

	transition: opacity .2s;
}
	#intro h1 {
		font-size: 48px;
		color: #FFF;
	}
	#intro p {
		line-height: 1.3em;
		font-size: 14px;
		margin: 10px 0 10px 0;
	}
	#intro input[type="text"] {
		border-radius: 4px;
		font-family: "Noto Sans";
		margin: 10px 0 0 0;
		padding: 3px 5px;
		width: 295px;
	}
	#intro input[type="submit"] {
		background-color: #FFF;
		border: 1px solid #FFF;
		border-radius: 4px;
		font-family: "Noto Sans";
		margin: 2px;
		padding: 2px;
		width: 80px;
	}
	#intro input[type="submit"]:hover {
		background-color: transparent;
		color: #FFF;
		cursor: pointer;
	}
	#intro.hide {
		opacity: 0;
		display: hidden;
	}

/* Navigation */
nav {
	margin: 15px 0 0 15px;
	position: fixed;
	z-index: 99;
}
	nav ul {
		list-style-type: none;
	}
	nav ul li {
		margin: 0 0 2px 0;

		transition: opacity .2s;
	}
	nav ul li.disabled {
		opacity: 0.4;
		pointer-events: none;
	}
	nav svg {
		cursor: pointer;
		height: 40px;
		width: 40px;
	}
	nav svg circle { transition: opacity .2s; }
	nav svg path { transition: fill .2s; }
	nav svg:hover circle {
		opacity: 0;
	}
	nav svg:hover path {
		fill: #FFF;
	}

/* User interface, Planets */
#planets {
	height: 100%;
	min-height: 520px;
	min-width: 1100px;
	overflow: hidden;
	position: absolute;
	width: 100%;

	transition: all .2s;
}
	#planets .hide {
		opacity: 0;
	}
	#planets div {
		height: 100%;
		position: absolute;
		width: 100%;

		transition: all 1s;
	}
	#planets .image {
		min-width: 600px;
		position: relative;
		width: 50%;
	}
	#planets .image img {
		position: relative;
		pointer-events: none;
		top: 50%;

		transform: translate(-50%, -50%);
	}
		#planets img.big { left: calc(100% - 700px); }
		#planets img.medium { left: calc(100% - 450px); }
		#planets img.small { left: 50%; }
	#planets .planet-info {
		display: inline-block;
		left: 50%;
		height: 60px;
		top: calc(50% - 30px);
		width: 50%;

		transition: opacity .5s;
	}
	#planets .planet-info h2 {
		font-size: 44px;
		height: 40px;
	}
	#planets .planet-info p {
		font-size: 20px;
		height: 20px;
	}

	/* previous, current, next */
	.prev { top: -100%; opacity: 0; }
	.current { top: 0px; opacity: 1; }
	.next { top: 100%; opacity: 0; }

/* User interface, Grid */
#grid {
	height: 100%;
	margin: 0 15%;
	width: 70%;

	transition: all .2s;
}
	#grid.hide {
		opacity: 0;
		display: hidden;
	}












/* Menu */
menu {
	z-index: 101;
	width: 200px;
	left: -200px;
	height: 100%;
	background-color: #000;
	display: inline-block;
	position: absolute;

	transition: left .3s;
}
	menu.show {
		left: 0;
	}
	menu ul {
		margin: 10px;
	}
	menu ul li {
		color: white;
		font-family: "Noto Sans";
		margin: 1px;
	}
	menu ul li:hover {
		cursor: pointer;
	}